<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="microsoft-windows-terminal" />
  <package id="git"
    packageParameters="/GitAndUnixToolsOnPath /WindowsTerminal /NoShellIntegration" />
  <package id="vim"
    packageParameters="/NoDefaultVimrc /NoContextMenu /NoDesktopShortcuts" />
  <package id="vlc" />
  <package id="7zip" />
  <package id="sysinternals" />
  <package id="jetbrainsmono" />
  <package id="ripgrep" />
</packages>
